:root {
    /* Dark Mode Colors (Default) */
    --bg-color: #040d08;
    --section-color: #0f251a;
    --text-color: #e0f0e5;
	--text-color-alt: #9c9e9d;
    --container-bg-color: #0f251a;
	--tab-color: #040d08;
    --input-bg-color: #333333;
    --input-border-color: #333333;
    --accent-green: #156e3d;
    --button-bg-color: #030800;
    --button-hover-bg-color: #0e4e2b;
    --social-icon-color: #156e3d;
    --shadow-color: rgba(102, 101, 101, 0.348);
}

.light-theme {
    /* Dark Mode Colors */
	--bg-color: #ebf7ed;
    --text-color: #333;
	--text-color-alt: #4f4e4e;
	--section-color: #fff;
    --container-bg-color: #fff;
	--tab-color: #ebf7ed;
    --input-bg-color: #fff;
    --input-border-color: #ddd;
    --accent-green: #1d8d4f;
    --button-bg-color: #e0ffc8;
    --button-hover-bg-color: #0c562d;
    --social-icon-color: #1d8d4f;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    transition: all 0.3s ease;
}

/* Navigation Bar */
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--container-bg-color);
	z-index: 1000;
	transition: top 0.3s ease;
	box-shadow: var(--shadow-color) 0px 4px 6px;
  }

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    max-width: 1200px;
    margin: auto;
}

.brand-name {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-color);
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    padding: 0 0.75em;
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9em;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--link-bg-color);
    border-bottom: 2px solid var(--link-bg-color);
}

/* Scroll to Top Button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--container-bg-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    opacity: 0.7;
}

#scroll-to-top:hover {
    opacity: 1;
}

.profile-pronouns {
    color: var(--accent-green);
}

.container {
    display: flex;
    max-width: 100%;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    gap: 30px;
}

/* left Side Profile */
.profile-section {
	margin-top: 45px;
	top: 65px;
    flex: 1 1 250px;
    max-width: 300px;
	min-width: 300px;
    position: sticky;
    height: calc(100vh - 85px);
    background-color: var(--container-bg-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
	transition: margin-top 0.3s ease;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--accent-green);
}

.profile-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.profile-name,
.profile-pronouns {
    line-height: 1;
    display: flex;
    align-items: center;
}

.profile-name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0;
}

.profile-pronouns {
    color: var(--accent-green);
    font-size: 0.8em;
}

.profile-about {
    font-size: 0.8em;
}

.about-section {
    font-size: 0.8em;
}

.separator-dot {
    color: var(--accent-green);
    font-size: 0.9em;
    margin: 0 5px;
}

.profile-location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    font-size: 0.8em;
	color: var(--text-color-alt);
}

.location-icon {
    width: 12px;
    height: auto;
    color: var(--accent-green);
}

/* Button Styles */
.profile-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.profile-btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 1px solid var(--accent-green);
}

.hire-btn,
.cv-btn {
    background-color: var(--container-bg-color);
    color: var(--text-color);
    font-size: 0.8em;
}

.profile-btn:hover {
    background-color: var(--accent-green);
    color: #fff; /* White text */
}

/* Horizontal Line */
.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: var(--accent-green);
    margin: 20px 0;
}

/* Social Links */
.social-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    color: var(--text-color);
    font-size: 0.8em;
}

.social-links li i {
    color: var(--accent-green);
    width: 20px;
    height: 20px;
}

/* Style anchor tags */
.social-links li a {
    text-decoration: none;
    color: inherit;
}

.social-links li a:hover {
    text-decoration: underline;
}

/* right Side Content */
.content-section {
    flex-grow: 1;
	flex: 1 1 auto;
    /*max-width: calc(100% - 330px);*/
	max-width: 900px;
    min-width: 550px;
	margin-left: 30px;
	margin-top: 25px;
    padding: 20px;
    overflow-x: auto;
}

.section {
    background-color: var(--container-bg-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* tech category styling */
.tech-category {
    display: none;
}

.tech-category.active {
    display: block;
}

/* Tech Toggle Bar */
.tech-toggle {
    display: flex;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: var(--tab-color); 
    overflow: hidden; /* Ensure buttons don't overflow */
}

.toggle-button {
    background-color: var(--tab-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--text-color);
    transition: all 0.3s ease;
    border-radius: 30px;
    flex: 1; /* buttons take equal space */
}

.toggle-button.active {
    background-color: var(--accent-green);
    color: #fff; /* White text */
    border-radius: 30px;
}

.toggle-button:not(.active):hover {
    background-color: var(--button-hover-bg-color);
    color: #fff; /* White text */
}

.toggle-button:first-child {
    border-top-left-radius: 30px; /* Ensure rounded corners on the left */
    border-bottom-left-radius: 30px;
}

.toggle-button:last-child {
    border-top-right-radius: 30px; /* Ensure rounded corners on the right */
    border-bottom-right-radius: 30px;
}
  
  /* Tech Category Styles */
.tech-category {
	margin-bottom: 30px;
  }
  
  .tech-category h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 15px;
	color: var(--text-color);
  }
  
  /* Tech Icons Section Styles */
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly; 
    width: 100%; 
    box-sizing: border-box;
}
  
  /* Tech Item Styles */
  .tech-item {
    background-color: var(--tab-color);
    padding: 12px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--accent-green);
}

.tech-item img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 5px;
}

.tech-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    display: block;
    margin-bottom: 4px; 
}

.tech-proficiency {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--text-color-alt);
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Proficiency Badge Styles */
.tech-proficiency::before {
    content: "";
    display: block;
    margin-top: 8px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--accent-green);
    transition: background-color 0.3s ease;
}

/* Work Experience Section Styles */
.work-experience-item {
    display: flex;
    flex-direction: column;
    background-color: var(--tab-color);
    padding: 15px;
    border-radius: 8px; 
    margin-bottom: 15px;
    box-shadow: 0 2px 5px var(--shadow-color); 
}

.job-header {
    display: flex;
    justify-content: space-between; /* Ensures title and date are on opposite sides */
    align-items: center; 
    margin-bottom: 5px;
}

.job-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
}

.date-location {
    font-size: 0.8rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: right;
    margin: 0; 
}

.job-company-location {
    font-size: 0.8rem;
    color: var(--text-color-alt);
    font-weight: 400;
    margin-top: 0px; 
}

.job-description {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: 10px;
    line-height: 1.4;
}


/* Education Section Styles */
.education-item {
    display: flex;
    flex-direction: column;
    background-color: var(--tab-color);
    padding: 15px;
    border-radius: 8px; 
    margin-bottom: 15px;
    box-shadow: 0 2px 5px var(--shadow-color); 
}

.education-header {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
}

.degree-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
}

.institution-location-date {
    font-size: 0.8rem;
    color: var(--text-color-alt);
    font-weight: 400;
    margin-top: 0px; 
}

.degree-description {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: 10px;
    line-height: 1.4;
}
 
/* Projects Section Styles */
.projects-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
  }
  
  .project {
	background-color: var(--tab-color);
	border-radius: 10px;
	padding: 10px;
	width: calc(50% - 20px); /* Two cards per row */
	box-shadow: 0 4px 8px var(--shadow-color);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	max-width: 300px; 
  }
  
  .project:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 12px var(--accent-green);
  }
  
  .project img {
	max-width: 100%;
	max-height: 300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }
  
  .project h3 {
	font-size: 1.4em;
	margin-bottom: 5px;
  }
  
  .project p {
	font-size: 0.9em;
	margin-bottom: 15px;
  }
  
  .tech-logos img {
	width: auto;
	height: 25px;
	margin-right: 5px;
	border-radius: 0%;
  }
  
  .project-links a {
	display: inline-block;
	margin-right: 10px;
	padding: 5px 10px;
	color: white; /* White text */
	background-color: var(--accent-green);
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
	font-size: 0.9rem;
  }
  
  .project-links a:hover {
	background-color: var(--button-hover-bg-color);
  }

  .view-more-button {
	text-align: center;
	margin-top: 50px;
  }
  
  .view-more-button .button {
	padding: 10px 20px;
	background-color: var(--accent-green);
	color: white; /* White text */
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
  }
  
  .view-more-button .button:hover {
	background-color: var(--button-hover-bg-color);
  }
  
/* Contact Section Style*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

/* Individual Contact Box */
.contact-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--tab-color);
    transition: transform 0.3s ease-in-out;
    flex: 1 1 auto;
    min-width: 25%;
    max-width: calc(100% - 34px);
}

.contact-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--accent-green);
}

.contact-box .icon {
    display: block;
	color: var(--accent-green);
    transition: color 0.3s ease-in-out;
    margin-bottom: 10px;
    font-size: 1.5em;
}

/* Button Styling */
.contact-box .btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 1px solid var(--accent-green);
	color: var(---color);
	font-size: 0.8em;
	text-align: center;
	margin-top: 10px;
}

.contact-box .btn:hover {
    background-color: var(--button-hover-bg-color);
    color: #fff; /* White text */
}

@media (max-width: 1200px) {
	.project {
		width: 100%;
		max-width: 400px;
	}
}

/* Breakpoint at 1000px */
@media (max-width: 1000px) {
	.profile-section {
		margin-top: 45px !important;
	}

    .profile-section,
	.content-section{
        width: 90%;
		min-width: 250px;
        margin: 0 auto;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    .profile-name {
        font-size: 1.2em;
    }

    .profile-pronouns {
        font-size: 0.7em;
    }

    .profile-about {
        font-size: 0.7em;
    }

    .profile-location {
        font-size: 0.7em;
    }

	.tech-toggle {
        flex-wrap: wrap;
        justify-content: center; 
		border-radius: 20px;
    }

    .toggle-button {
        flex: none;
        width: 100%; 
        margin: 0;
    }

	.project {
		width: 100%;
		max-width: 300px;
	}
}

/* Breakpoint at 800px */
@media (max-width: 800px) {

	.nav-container {
		flex-direction:column;
		justify-content:space-between;
		align-items:flex-start;
		padding:0.4em 1em;
	}
	.menu-icon {
		display:block;
		position:absolute;
		right:10px;
		top:10px;
	}
	.nav-links {
		display:none;
		width:100%;
		align-items:center;
	}
	.nav-links.active {
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	.nav-links a,.theme-toggle,.dropdown-content a {
		text-align:center;
		padding:0.5em;
		border-bottom:none;
		width:100%;
		/* Full-width links */
	}

    .container {
        flex-direction: column; /* Stack the profile and content sections */
        gap: 5px;
		padding: auto;
		margin: 0 auto;
    }

    .profile-section,
    .content-section {
        width: 100%;
        min-width: 250px; 
		padding: 5px;
		margin: 0 auto;
		max-width: 90%;
    }

    .profile-section {
        position: static; /* Remove sticky position */
        height: auto; 
    }

	.social-links li {
		justify-content: center; 
	}

	.tech-item img {
		width: 25px;
		height: auto;
	}

	.tech-name {
		font-size: 0.8rem;
	}

	.tech-proficiency {
		font-size: 0.6rem;
	}

	.tech-category h3,
	.job-title,
	.degree-title,
	.project h3 {
		font-size: 1.1rem;
	}

	.date-location,
	.job-company-location, 
	.institution-location-date,
	.project p{
		font-size: 0.7rem;
	}

	.job-description,
	.degree-description {
		font-size: 0.8rem;
	}

	.project {
		width: 100%;
		max-width: 300px;
	}
}

@media (max-width: 400px) {
	.profile-section,
    .content-section {
		max-width: 95%;
    }
}